+*
.dotest
.*.cmd
Makefile
autom4te*
bin
click-buildtool
click-compile
config.cache
config.h
config.log
config.mk
config.status
depcomp
elementmap
elementmap.xml
installch
man
stamp-egroup
stamp-h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Click
.cproject
.project
compile
ns/elements.csmk
doc/testie.1

# ns-3
.pydevproject
